.frame {
  position: fixed;
  z-index: 100;
  pointer-events: none;

  .is-loaded:not(.is-scrolled) &.frame--onload {
    transition: transform 1.5s var(--ease-in-out-expo);
  }

  .is-loaded & {
    transform: none;
  }
}

.frame--top,
.frame--bottom {
  transform: scaleX(0);
}

.frame--left,
.frame--right {
  transform: scaleY(0);
}

.frame--bottom {
  left: calc(var(--spacing-frame-width) - 1px);
  right: calc(var(--spacing-frame-width) - 1px);
  bottom: 0;
  border-bottom: solid var(--theme-foreground);
  border-bottom-width: var(--spacing-frame-width);
  border-bottom-width: calc(
    var(--spacing-frame-width) + env(safe-area-inset-bottom)
  );
  transform-origin: bottom left;
  transition: none;
}

.frame--top {
  top: 0;
  left: 0;
  width: 100%;
  border-top: var(--spacing-frame-width) solid var(--theme-foreground);
  transform-origin: top right;
}

.frame--right {
  top: 0;
  right: 0;
  height: 100%;
  border-right: var(--spacing-frame-width) solid var(--theme-foreground);
  transform-origin: bottom right;
}

.frame--left {
  top: 0;
  left: 0;
  height: 100%;
  border-left: var(--spacing-frame-width) solid var(--theme-foreground);
  transform-origin: top left;
}
