.intro-title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: clip;
}

.intro-title {
  margin-bottom: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-h1);
  letter-spacing: -0.02em;
  opacity: 0;
}

.intro-title__top,
.intro-title__bottom {
  display: block;
}

.intro-title__top {
  font-weight: 500;
}

.intro-title__bottom {
  font-weight: 400;
}
