.line-grid {
  position: relative;
  width: 100%;
  max-width: 34em;
  margin: auto;
  margin-top: var(--spacing-section);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    transform: scaleX(var(--progress, 0));
  }

  &::before {
    left: 0;
    transform-origin: left;
    mask-image: linear-gradient(to left, #fff 50%, #0000);
  }

  &::after {
    right: 0;
    transform-origin: right;
    mask-image: linear-gradient(to right, #fff 50%, #0000);
  }

  @media (--tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &::after {
      right: -1px;
    }
  }
}

.line-grid__item {
  padding: var(--spacing-base);

  & + & {
    padding-top: 0;
  }

  @media (--tablet) {
    width: 50%;

    &,
    & + & {
      padding: var(--spacing-base);
    }

    &:first-child::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 100%;
      border-left: 1px solid rgba(255, 255, 255, 0.15);
      mask-image: linear-gradient(to bottom, #fff 50%, #0000);
      transform: scaleY(var(--progress, 0));
      transform-origin: bottom;
    }
  }
}

.line-grid__item--flex {
  display: flex;
}
