.line-grid {
  position: relative;
  width: 100%;
  max-width: 34em;
  margin: auto;
  margin-top: var(--spacing-section);

  @media (--tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: calc(var(--progress) * 50%);
    border-top: 1px solid var(--theme-transparent);
    transition: width 2s var(--ease-out-circ);
  }

  &::before {
    left: 0;
    mask-image: linear-gradient(to left, #fff 50%, #0000);
  }

  &::after {
    right: -1px;
    mask-image: linear-gradient(to right, #fff 50%, #0000);
  }
}

.line-grid__item {
  padding: var(--spacing-base);

  & + & {
    padding-top: 0;
  }

  @media (--tablet) {
    width: 50%;

    &,
    & + & {
      padding: var(--spacing-base);
    }

    &:first-child::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      border-left: 1px solid var(--theme-transparent);
      height: calc(var(--progress) * 100%);
      mask-image: linear-gradient(to bottom, #fff 50%, #0000);
      transition: height 2s var(--ease-out-circ);
    }
  }
}

.line-grid__item--flex {
  display: flex;
}
