.media-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--spacing-base) * 1.5);
  margin-top: var(--spacing-section);

  @media (--tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.media-grid__wrapper {
  overflow: hidden;
  display: flex;
  align-items: flex-end;

  &:nth-child(odd) .media-grid__item {
    margin-left: auto;
  }

  &:nth-child(even) .media-grid__caption {
    width: 150%;
  }
}

.media-grid__item {
  margin: 0;
}

.media-grid__item--small {
  @media (--tablet) {
    max-width: 25vw;
  }

  @media (--desktop) {
    max-width: 50%;
  }

  .media {
    aspect-ratio: 1 / 1;
  }
}

.media {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.2rem;
    pointer-events: none;
  }
}

.media__play {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
  border: none;

  &::before {
    content: '';
    opacity: 0;
    transform: scale(0.8);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../img/icons/play.svg');
    background-position: 52% center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    transition: 0.3s var(--ease-out-quart);
    transition-property: opacity, transform;
  }

  .media--video.is-playing &::before {
    background-image: url('../img/icons/pause.svg');
    background-position: center center;
  }

  @media (pointer: fine) {
    &:hover::before,
    &:focus-visible::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media (pointer: coarse) {
    .media--video.is-hinting &::before,
    .media--video.is-paused &::before {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.media__object {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;

  @media (--tablet) {
    max-height: 420px;
  }
}

.media-grid__caption {
  margin-top: 0.8em;
  font-size: var(--font-size-small);
}

/*
.progress {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.4rem;
  transition: opacity 0.15s linear;
  mix-blend-mode: exclusion;
  pointer-events: none;

  .media--video:hover & {
    opacity: 1;
  }
}

.progress__bar {
  height: 0.2rem;
  border-radius: 2em;
  background-color: var(--theme-foreground);

  width: 0;
  transition: width 0.3s linear;
}
*/
