.media-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--spacing-base) * 1.5);
  margin-top: var(--spacing-content);

  @media (--tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.media-grid__wrapper {
  overflow: hidden;
  display: flex;
  align-items: flex-end;

  &:nth-child(odd) .media-grid__item {
    margin-left: auto;
  }

  &:nth-child(even) .media-grid__caption {
    width: 150%;
  }
}

.media-grid__item {
  margin: 0;
}

.media-grid__item--small {
  @media (--tablet) {
    max-width: 25vw;
  }

  @media (--desktop) {
    max-width: 50%;
  }

  .media {
    aspect-ratio: 1 / 1;
  }
}

.media {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.2rem;
    pointer-events: none;
  }
}

.media__play {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;

  &:hover .media__play-icon,
  &:focus-visible .media__play-icon {
    @media (pointer: fine) {
      opacity: 1;
      transform: scale(1);
    }
  }

  .media--video.is-hinting &,
  .media--video.is-paused & {
    @media (pointer: coarse) {
      .media__play-icon {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.media__play-icon {
  position: relative;
  width: 3em;
  height: 3em;
  opacity: 0;
  transform: scale(0.9);
  border-radius: 50%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.5) url('../img/icons/play.svg') 52% center / 50%
    no-repeat;
  transition: 0.3s var(--ease-out-quart);
  transition-property: opacity, transform;

  .media--video.is-playing & {
    background-image: url('../img/icons/pause.svg');
    background-position: center;
  }
}

.media__progress {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  pointer-events: none;
}

.media__progress-circle {
  fill: none;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 2;
}

.media__object {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;

  @media (--tablet) {
    max-height: 420px;
  }
}

.media-grid__caption {
  margin-top: 0.8em;
  font-size: var(--font-size-small);
}
