.scroll-hint {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 50%;
  color: inherit;
  text-decoration: none;
  opacity: 0;
  transform: translate(-50%, 50%);
}

.scroll-hint__link {
  color: var(--theme-foreground);
  text-decoration: none;
}

.scroll-hint__text {
  font-size: 12px;
  text-rendering: geometricprecision;
  word-spacing: 0.2em;
  text-transform: uppercase;
  letter-spacing: 0.007em;
}

.scroll-hint__icon {
  width: 8em;
  height: 8em;
  fill: currentcolor;
}
