.services {
  margin-top: calc(var(--spacing-content));
}

.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  gap: calc(var(--spacing-base) * 1.5);
}

.services__box {
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing-base) * 1.5);
  border-radius: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
}

.services__title {
  margin-bottom: 0.2em;

  span {
    background: linear-gradient(
      to right,
      var(--theme-foreground) 50%,
      var(--theme-transparent) 50%
    );
    background-size: 200% 100%;
    background-position-x: var(--bg-progress);
    background-clip: text;
    color: transparent;
  }
}

.services__group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: auto;
}

.services__pill {
  font-size: var(--font-size-small);
  padding: 0.2em 0.8em;
  border: 1px solid var(--theme-transparent);
  border-radius: 1em;
}
