{% extends "layouts/home.twig" %}

{% set title = "Home" %}

{% block content %}

    <section class="section">
        <div class="container">
            <h1 class="title-main">Frontend Engineer<br> with a Passion for UX</h1>

            <div class="content">
                <p><b>I’m Sergio Lavanga, Frontend Engineer from Switzerland.</b><br>
                I work at the intersection of technology and design⁠⁠ — delivering polished and lasting solutions.</p>

                <p>Over the course of my career I’ve had the pleasure of working with brands such as Mobiliar, Post CH AG, Rolex, Swiss Football League, Swiss-Ski, Thurbo AG and Volg Konsumwaren AG.</p>

                <p>Follow me on <a href="https://github.com/slavanga">GitHub</a> and <a href="https://twitter.com/SergioLavanga">Twitter</a> or write me an <a href="mailto:&#108;&#097;&#118;&#097;&#110;&#103;&#097;&#046;&#115;&#101;&#114;&#103;&#105;&#111;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">E-Mail</a>.</p>
            </div>

            <p class="u-text-muted">&copy; {{ 'now' | date('Y') }} Sergio Lavanga <span class="js-typed"></span></p>
        </div>
    </section>

{% endblock %}
