{% extends "layouts/home.twig" %}

{% set title = "Home" %}

{% block content %}

    <section class="section">
        <div class="container">
            <h1 class="title-main">Frame One</h1>
            <hr class="hr">

            <div class="content">
                <p> Award-winning frontend development studio by Sergio Lavanga.<br />
                Handcrafted software built on solid foundations using modern and efficient tools. I unify technology and design to deliver polished and lasting solutions for my clients.
                </p>

                <p><a class="btn" href="mailto:&#108;&#097;&#118;&#097;&#110;&#103;&#097;&#046;&#115;&#101;&#114;&#103;&#105;&#111;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Contact</a></p>
            </div>

            <p class="u-text-muted">Frame One by Lavanga, <a href="https://zh.chregister.ch/cr-portal/auszug/auszug.xhtml?uid=CHE-285.538.728" target="_blank">CHE-285.538.728</a></p>
        </div>
    </section>

{% endblock %}
