{% extends "layouts/home.twig" %}

{% set title = "Home" %}

{% block content %}

    <section class="section">
        <div class="container">
            <h1 class="title-main">Frame One<br> Senior Frontend Engineer</h1>

            <div class="content">
                <p><b>Hi, I’m Sergio Lavanga 👋</b></p>

                <p>Award-winning frontend and interaction development made in Zurich.<br /> Handcrafted software built on solid foundations using modern and efficient tools. I unify technology and design to deliver polished and lasting solutions for my clients.</p>

                <p>While working for Swiss agencies, I was able to work with brands like Mobiliar, Post CH AG, Rolex, Swiss Football League, Swiss-Ski, Volg Konsumwaren AG, and many more.</p>

                <p>Follow me on <a href="https://github.com/slavanga">GitHub</a> and <a href="https://twitter.com/SergioLavanga">Twitter</a> or write me an <a href="mailto:&#108;&#097;&#118;&#097;&#110;&#103;&#097;&#046;&#115;&#101;&#114;&#103;&#105;&#111;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">E-Mail</a>.</p>
            </div>

            <p class="u-text-muted">&copy; {{ 'now' | date('Y') }} Sergio Lavanga <span class="js-typed"></span></p>
        </div>
    </section>

{% endblock %}
