/*
Returns a CSS clamp function which resolves to
$min-size when page width is below $min-breakpoint,
$max-size when page width is above $max-breakpoint,
and linearly scales between the two between $min-breakpoint and $max-breakpoint
*/

@use 'sass:math';
@use '../mixins/unit' as *;

@function clamp-calc(
  $min-size,
  $max-size,
  $min-breakpoint: 320px,
  $max-breakpoint: 1600px
) {
  $slope: math.div(
    to-rem($max-size) - to-rem($min-size),
    to-rem($max-breakpoint) - to-rem($min-breakpoint)
  );
  $y-axis-intersection: -1 * to-rem($min-breakpoint) * $slope +
    to-rem($min-size);

  @return clamp(
    #{to-rem($min-size)},
    #{$y-axis-intersection} + #{$slope * 100vw},
    #{to-rem($max-size)}
  );
}
