<!doctype html>
<html lang="en">
    <head>
        {% include "../includes/head.twig" %}
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}

        {% include "../includes/scripts.twig" %}
        {% block scripts %}{% endblock %}
    </body>
</html>
