<header class="header">
	<div class="container">
		<a href="/" class="logo">
			<img src="img/logo.svg" alt="" width="32" height="32"/>
		</a>

		<button class="btn js-toggle-theme" data-label-on="Lights on" data-label-off="Lights off">Lights off</button>
	</div>
</header>
