<meta charset="utf-8">
<title>Sergio Lavanga – Senior Frontend Engineer</title>

<link rel="stylesheet" href="css/main.min.css">

<meta name="author" content="Sergio Lavanga">
<meta name="description" content="Senior Frontend Engineer with a Passion for UX">
<meta name="viewport" content="width=device-width, initial-scale=1">
