<meta charset="utf-8">
<title>Frame One – Senior Frontend Engineer</title>

<link rel="stylesheet" href="css/main.min.css">

<meta name="author" content="Sergio Lavanga">
<meta name="description" content="Award-winning frontend and interaction development made in Zurich.">
<meta name="viewport" content="width=device-width, initial-scale=1">
