<meta charset="utf-8">
<title>Sergio Lavanga – Frontend Engineer</title>

<link rel="stylesheet" href="css/main.min.css">

<meta name="author" content="Sergio Lavanga">
<meta name="description" content="I’m Sergio Lavanga, Frontend Engineer from Switzerland. I work at the intersection of technology and design⁠⁠ — delivering polished and lasting solutions.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
    document.documentElement.className = 'js';

    window.setTimeout(function() {
        document.documentElement.className += ' animated';
    }, 100);
</script>
