@use 'mixins/clamp-calc' as *;

@custom-media --desktop (min-width: 59.99em);
@custom-media --below-desktop (max-width: 60em);
@custom-media --tablet (min-width: 40em);
@custom-media --below-tablet (max-width: 39.99em);

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #03a;
  --theme-foreground: var(--color-white);
  --theme-background: var(--color-blue);
  --theme-dark: var(--color-black);
  --theme-light: var(--color-blue);
  --theme-transparent: rgba(255, 255, 255, 0.3);
  --font-family-base: 'Haffer', sans-serif;
  --font-family-serif: 'Teodor', serif;
  --font-size-base: #{clamp-calc(16px, 24px)};
  --font-size-lead: #{clamp-calc(18px, 28px)};
  --font-size-h1: #{clamp-calc(64px, 252px)};
  --font-size-h2: #{clamp-calc(42px, 120px)};
  --font-size-small: #{clamp-calc(12px, 16px)};
  --spacing-frame-width: #{clamp-calc(10px, 22px)};
  --spacing-base: #{clamp-calc(15px, 30px)};
  --spacing-content: #{clamp-calc(30px, 60px)};
  --spacing-section: #{clamp-calc(30px, 100px)};
  --ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
  --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);

  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    --color-blue: var(--color-black);
  }
}
