@use '../../node_modules/normalize.css/normalize.css' as *;

@use 'mixins/clamp-calc' as *;
@use 'variables' as *;

@use 'global/fonts' as *;
@use 'global/base' as *;

@use 'components/frame' as *;
@use 'components/heading' as *;
@use 'components/typography' as *;
@use 'components/button' as *;
@use 'components/link' as *;
@use 'components/list' as *;
@use 'components/section' as *;
@use 'components/intro' as *;
@use 'components/outro' as *;
@use 'components/services' as *;
@use 'components/media-grid' as *;
@use 'components/awards' as *;
@use 'components/scroll-hint' as *;
@use 'components/line-grid' as *;
@use 'components/avatar' as *;
@use 'components/marquee' as *;
@use 'components/nav' as *;
@use 'components/cursor' as *;

::selection {
  color: var(--theme-background);
  background: var(--theme-foreground);
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 1.2;
}

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.container {
  width: 100%;
  max-width: 87rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-base);
  padding-right: var(--spacing-base);
}

.container--narrow {
  max-width: 35em;
}

.container--intro {
  max-width: clamp-calc(280px, 500px);
}

.content {
  padding: 0 var(--spacing-frame-width);
  background: var(--theme-background);
  color: var(--theme-foreground);
  transition: background-color 0.5s linear;
}

.bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.icon {
  overflow: visible;
  display: inline-block;
  vertical-align: baseline;
  width: 0.6em;
  height: 0.6em;
  color: currentcolor;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.br-desktop {
  display: none;

  @media (--tablet) {
    display: block;
  }
}
